.nav {
  background: $black;
}

.nav-item {
  display: inline-block;
  height: 4.2rem;
  position: relative;
  padding: 1rem;
}

.nav-link {
  font-family: 'Montserrat', 'Helvetica Neue';
  font-size: 2rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  font-weight: 900;

  &:hover {
    text-shadow: 5px 5px 0px $pink;
  }
}

.nav.nav__sub {
  z-index: 3;
  display: none;
  position: absolute;
  bottom: 3rem;
}

.nav-item:hover .nav.nav__sub {
  display: block;
}

.nav-item.nav-item__sub {
  display: block;
}
