.nav {
  height: 3rem;

  li {
    display: inline;
  }
}

// Menu
.menu {
  background: #222;

  li {
    display: inline-block;
    height: 3rem;
    position: relative;
  }
}

.submenu {
  z-index: 3;
  display: none;
  position: absolute;
  bottom: 3rem;

  li {
    display: block;

  }

  li:hover & {
    display: block;
  }
}
